body, html {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #F5F5F5;
}

.effect{
    -webkit-box-shadow: 1px 1px 2px -1px #888;
       -moz-box-shadow: 1px 1px 2px -1px #888;
            box-shadow: 1px 1px 2px -1px #888;
}

.clear-padding {
  padding: 0px;
}

#content {
  min-height: 100%;
}

#sidebar-wrapper {
  color: #AAA;
}

.sidebar-nav .sidebar-brand > span {
  font-size: 23px;
  color: #FFF;
}

.sidebar-nav li > span {
  font-size: 14px;
  color: #EEE;
  height: 28px;
}

/* header関連 */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 38px;
  line-height: 38px;
  background-color: #FFF;
  z-index: 1000;
  box-shadow: 0px 0px 1px 0px #EEE;
}

@media all and (max-width:768px) {
  #header {
    height: 50px;
    line-height: 50px;
  }
}

#header .category-title{
  padding-left: 8px;
  padding-right: 10px;
  font-size: 18px;
}
#header .category-title-text{
  padding-left: 8px;
  font-size: 18px;
}
#header .category-description{
  font-size: 13px;
  color: #999;
}



.item {
  margin: 6px;
  padding: 6px;
  background-color: #FFF;
}

.category-color-bar{
  height: 22px;
  margin: 0px 0px 5px 0px;
}

.category-color-bar-main{
  height: 100%;
  position: relative;
  float: left;
}

.category-color-bar-helper {
  height: 100%;
  float: left;
  padding: 0 !important;
}

.category-text {
  position: absolute;
  left: 1px;
}

.hatebu-user-text {
  position: absolute;
  right: 0;
}

.category-color-bar .category-name{
  margin-left: 4px;
  font-size: 15px;
  color: #FFF;
}

.hatebu-count{
  font-size: 16px;
  color: #FFF;
}
.hatebu-users{
  margin: 6px 4px 0px 1px;
  font-size: 11px;
  color: #FFF;
}

/* popover関連 */
/* @hack */
.popover-content{
  padding: 0;
}
.popover-category-text{
  margin-left: 6px;
  font-size: 15px;
}

.item .thumbnail-box{
  height: 124px;
}

.item img {
  max-width:100%;
  height: 124px;
}

.item-footer{
  padding: 4px 3px 0px 3px;
  height: 105px;
}

.item .item-footer .title-description {
  height: 81px;
  overflow: hidden;
}

.item .item-footer .title p{
  font-size: 15px;
  max-height: 43px;
  margin: 3px 0px 5px 0px;
  overflow: hidden;
}
.item .item-footer .description {
  font-size: 12px;
  max-height: 50px;
  color: #666;
  overflow: hidden;
}

.item-footer .source {
  margin-top: 7px;
  font-size: 11px;
  color: #888;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
