.header {
  width: 100%;
  height: 65px;
  background: #222;
}
.header-container {
  max-width: 950px;
  margin: 0 auto;
}
.logo {
  padding: 7px 5px 5px 7px;
}
.logo-img {
  width: auto;
  height: 51px;
  background: url("logo.ea120ac5.svg") no-repeat;
}
.navigation {
  width: 100%;
  height: 33px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
  overflow: scroll;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}
.navigation-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
ul {
  list-style-type: none;
}
.channel-section {
  margin-right: 21px;
}
.channel-section a {
  text-decoration: none;
  color: #222;
  font-size: 13px;
  white-space: nowrap;
}
.channel-section a:hover,
.channel-section a:focus {
  color: #1c5d99;
  text-decoration: underline;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}
body {
  background-color: #fff;
  font-size: 100%;
  height: 100%;
  width: 100%;
}
.newslist {
  max-width: 950px;
  margin: 0 auto;
  padding-top: 20px;
}
.newslist a {
  color: #1c5d99;
  font-weight: bold;
  font-size: 22px;
  word-wrap: break-word;
  text-decoration: none;
}
.newslist a:visited {
  color: #6e97be;
  text-decoration: none;
}
.newslist a:hover,
.newslist a:focus {
  text-decoration: underline;
}
.news-container {
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.host-name {
  width: 100%;
  font-size: 12px;
  color: #8c8c8c;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.highly-influential {
  font-size: 12px;
  color: #dd913f;
}
.description {
  width: 100%;
  font-size: 13px;
  line-height: 1.4;
  color: #222;
  margin-top: 8px;
  overflow: hidden;
}
.main-section {
  width: 55%;
  height: 340px;
  margin-bottom: 20px;
  overflow: hidden;
}
.main-section .thumbnail-box {
  height: 240.00000000000003px;
}
.main-section .thumbnail-box a img {
  object-fit: cover;
  width: 100%;
  height: 240.00000000000003px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}
.main-section .main-section-title a {
  font-size: 21px;
  line-height: 1.6;
}
.main-sub-section {
  width: 40%;
  height: 340px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.main-sub-section .sub-box {
  height: 160px;
  margin-bottom: 20px;
  overflow: hidden;
}
.main-sub-section-title {
  max-height: 73.6px;
  overflow: hidden;
}
.main-sub-section-title a {
  font-size: 18px;
  line-height: 1.4;
}
.main-sub-section-description {
  width: 100%;
  max-height: 34.4px;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 8px;
}
.page-section {
  display: flex;
  width: 100%;
  min-height: 90px;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
}
.page-section .text-box {
  flex: 1;
}
.page-section .thumbnail-box {
  width: 120px;
  height: 90px;
  margin: 10px 0px;
  margin-right: 25px;
}
.page-section .thumbnail-box a img {
  object-fit: cover;
  width: 100%;
  height: 90px;
}
.page-section .page-title {
  margin: 8px 0px;
  max-height: 74.5px;
  overflow: hidden;
}
.page-section .page-title a {
  font-size: 17px;
  line-height: 1.5;
}
.page-section .page-category {
  margin: 8px 0px;
  color: #999;
  font-weight: bold;
  font-size: 14px;
}
.page-section .description {
  margin: 8px 0px;
  font-size: 13px;
  line-height: 1.4;
  max-height: 34.4px;
}
